.red {
  font-weight: bold;
  color: #f05f40;
}

p.first-letter::first-letter {
  font-size: 200%;
  color: #FFF;
  float: left;
  margin-right: 10px;
  padding-right: 4px;
  border-radius: 5px;
}

.faded-strong {
  font-weight: bold;
  color: white;
}

.new-project-category {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
